<md-content ng-init="dashboard.profile = nav.user.profile" layout="row" layout-fill flex>
  <div layout="column">
    <md-card class="activity-feed md-padding">
      <h2>Activity Feed</h2>
      <md-card class="friend-card" ng-repeat="event in dashboard.events">
      <div ng-if="event.type === 'jam'">
        You jammed with {{event.jammers[0]}}
      </div>
      <div ng-if="event.type === 'friend'">
        You became friends with {{event.friend}}
      </div>
      </md-card>
    </md-content>
  </div>
  <div layout="column">
    <md-card class="profile md-padding">
      <h2>Profile</h2>
      <div ng-show="dashboard.profile === null">
        <p>
        You have no profile, click the button below to make one.
        </p>
      </div>
      <div ng-hide="dashboard.profile === null">
        <p>
        {{dashboard.player.getProfile()}}
        </p>
      </div>
      <md-button ng-click="dashboard.updateProfile($event)" id="submit-profile">
        Change profile!
      </md-button>
    </md-content>
  </div>
</md-content>
